*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;

}
section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;

    /* height: 400px;
    width: 400px;
    border-radius: 20%;
 */
    background-color: #2c0818;
}
.bob{
    position: absolute;
    width: 550px;
    height: 550px;
}
stop[offset='0']{
    stop-color: var(--topColor);
}
stop[offset='1']{
    stop-color: var(--bottomColor);   
}

:root{
    --topColor:rgb(76, 161, 175);
    --bottomColor:rgb(181, 52, 113);
}

.none{
stop-color: rgb(181, 52, 113);
stop-color: rgb(76, 161, 175);

}
.bob:nth-child(2){
    filter: blur(10px);
}